<h1> Flavia's notes on Angular components </h1>
<p>interpolation syntax uses double curly braces which take Javascrpt expression. Angular evaluates the Javascript expression and returns its value. example: </p>
  <p> 2 + 2 = {{ 2 + 2 }} </p>
 <p> if you add number to string the number gets treated as a string and gets concatonated to the other string {{title + 10}} </p>

 <p> angular components create html elements. the name of the element is given in the component decorator selector propriety </p>


 <app-input-button-unit ></app-input-button-unit>
